.base_style {
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.base_style:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.variant__default {
  background: green;
  color: white;
}

.variant__outline {
  background: white;
  color: green;
  border: 1px solid;
}
